target
*.iws
*.ipr
*.iml
*.ids
.classpath
.project
.settings
.springBeans
.idea
classes/
coverage-error.log
.~*#
.DS_Store
# Ignore temporary files
*~
.vagrant
.gradle
build/
mem.h2.db
mem.trace.db
out/
